pipeline/StoredProcedure_GetDetails.json
{
	"name": "StoredProcedure_GetDetails",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[GetDetails]",
					"storedProcedureParameters": {
						"resourcegrp": {
							"value": "app-grp",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics_dedicatedpool",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute SP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored procedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetDetails]",
						"storedProcedureParameters": {
							"resourcegrp": {
								"type": "String",
								"value": "app-grp"
							}
						},
						"queryTimeout": "02:00:00",
						"isolationLevel": "Snapshot",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ACTIVITYLOGTABLEDATASETS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "firstoperationname",
					"value": {
						"value": "@activity('Execute SP').output.value[0].operationname",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"firstoperationname": {
				"type": "String"
			},
			"firststatus": {
				"type": "String"
			}
		},
		"annotations": []
	}
}